@font-face {
  font-family: 'abc';
  src: url('./assets/fonts/inter-v20-latin-regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'abc';
  src: url('./assets/fonts/inter-v20-latin-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'abc';
  src: url('./assets/fonts/inter-v20-latin-300.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'abc';
  src: url('./assets/fonts/inter-v20-latin-500.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'abc';
  src: url('./assets/fonts/inter-v20-latin-700.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'abc';
  src: url('./assets/fonts/inter-v20-latin-900.woff2') format('woff2');
  font-weight: 900;
}


body {
  font-size: 17px;
  color: #0F233F;
  margin: 0;
  background-color: #F0EFEB;
  font-family: 'abc';
}

/* header */

header,
header .container,
ul {
  display: flex;
}

header {
  justify-content: center;
  transition: box-shadow 0.4s;
}

header:hover {
  box-shadow: inset 0 50px 50px -50px #bdb48f;
}

header .container {
  width: 100%;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  flex-wrap: wrap;
}

header .container .middle .nav-pages a {
  text-decoration: none;
  color: #0F233F;
}

.nav-pages li {
  padding: 41px 20px;
  transition: color 0.2s, box-shadow 0.2s;
}

.nav-pages li:hover {
  box-shadow: inset 0 -3px 0 #0F233F;
  color: #2b4e7e;
}

button {
  border: none;
  background-color: #0F233F;
  color: #F0EFEB;
  padding: 14px 30px;
  border-radius: 25px;
  font-size: 15px;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: #0f233fd5;
  box-shadow: 0 8px 15px rgba(128, 128, 128, 0.438);
}

header .container .right button {
  padding: 14px 55px;
}

.logo {
  display: flex;
}

/*============= section one ==============*/

/* .section-one,
.section-one .container,
.section-one .container .left,
.section-one .container .right {
  border: 1px solid black;
} */

.section-one,
.section-one .container,
.section-one .container .left,
.section-one .container .right,
.section-one .container .right .bottom {
  display: flex;
}

.section-one .container img {
  border-radius: 25px;
}

.section-one {
  justify-content: center;
}

.section-one .container {
  max-width: 1350px;
  padding: 35px 10px;
}

.section-one .container .left {
  justify-content: center;
  width: 40%;
  position: relative;
}

.section-one .container .right {
  flex-direction: column ;
  padding: 0 15px;
  width: 60%;
}

.section-one .container .left .tennis {
  height: 100px;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

.section-one .container .right .top {
  font-size: 65px;
  font-weight: 600;
  margin: 15px 0;
}

.section-one .container .right .bottom .left {
  width: 50%;
  flex-direction: column;
  position: relative;
}

.section-one .container .right .bottom .left button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 14px 70px;
}

.section-one .container .right .bottom .right {
  padding: 0;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px;
  gap: 25px;
  width: 50%;
}

.section-one .container .right .bottom .right p {
  margin: 0;
  line-height: 1.5;
}

/* ====== section two ======= */

.section-two,
.section-two .container,
.section-two .container .below,
.section-two .container .below .right,
.section-two .container .top,
.section-two .container .top .right {
  display: flex;
}

.section-two {
  flex-direction: column;
  align-items: center;
}

.section-two .container {
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  align-items: center;
}

.section-two .container .top {
  background-color: #0F233F;
  color: white;
  border-radius: 50px;
  height: 100px;
  max-width: 1200px;
  font-size: 30px;
  padding: 30px;
  align-items: center;
  margin: 90px 0;
}

.section-two .container .top .left {
  width: 300px;
}

.partner {
  border-radius: 10px;
  margin: 0 10px;
}

.section-two .container .below .left {
  width: 50%;
  padding-right: 50px;
}

.section-two .container .below .left .title {
  font-size: 45px;
  margin: 0;
  font-weight: 700;
}

.section-two .container .below .right {
  gap: 25px;
  width: 50%;
}

.section-two .container .below {
  justify-content: center;
  line-height: 1.5;
}

.section-two .container .below .right .right-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section-two .container .below .right img {
  border-radius: 25px;
}

img {
  display: block;
}

/* ====== section three ====== */

.section-three,
.section-three .container,
.section-three .container .box {
  display: flex;
}

.section-three {
  justify-content: center;
  margin: 150px 0;
}

.section-three .container {
  flex-direction: column;
  width: 1280px;
}

.section-three .container .title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 50px;
}

.section-three .container .box {
  flex-wrap: wrap;
  gap: 20px;
}

.boxes {
  height: 250px;
  width: 305px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 25px;
  font-size: 19px;
  line-height: 1.7;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
}

.boxes.yellow {
  background-color: #E6E3D2;
}

.boxes.blue {
  background-color: #0F233F;
  color: white;
}

/* ======= section four ======= */

.section-four,
.section-four .container,
.section-four .container .left {
  display: flex;
}

.section-four {
  justify-content: center;
}

.section-four .container {
  max-width: 1280px;
}

.section-four .container .left {
  width: 50%;
  flex-wrap: wrap;
  gap: 25px;
}

.section-four .container .left img {
  border-radius: 25px;
}

.section-four .container .left .left-right {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.section-four .container .right {
  width: 50%;
  padding-left: 20px;
  font-weight: 400;
  display: block;
}

.section-four .container .right .title {
  font-size: 45px;
  margin: 0;
  font-weight: 700;
  line-height: 1;
}

.section-four .container .right li:before {
  content: "\2713";
  padding-right: 5px;
}

.section-four .container .right span {
  font-weight: 700;
}

.section-four .container .right p {
  line-height: 1.5;
}

.section-four .container .right ul {
  display: block;
  margin-bottom: 15px;
}

.section-four .container .right li {
  padding: 5px;
}

/* ======= section five ======== */

.section-five,
.section-five .container,
.section-five .container .location-container {
  display: flex;
}

.section-five {
  justify-content: center;
  margin: 150px 0;
  padding-bottom: 150px;
}

.section-five .container {
  flex-direction: column;
  background-color: #0F233F;
  color: white;
  box-sizing: border-box;
  max-width: 1280px;
  height: 250px;
  padding: 50px;
  border-radius: 55px;
}

.section-five .container .title {
  text-align: center;
  font-size: 45px;
  font-weight: 700; 
  margin-bottom: 50px;
}

.section-five .container .location-container {
  text-align: center;
  gap: 30px;
}

/* > */

.section-five .container .location {
  background-color: #F0EFEB;
  color: #0F233F;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  padding: 25px;
  padding-bottom: 15px;
  box-shadow: 0 16px 20px rgba(128, 128, 128, 0.172);
  width: 50%;
}

.section-five .container .location-title {
  font-size: 19px;
  font-weight: 500;
}

.section-five .container .location-container .icon {
  margin: 30px;
}

/* ====== section six ======== */


/* * {
  outline: 1px solid grey;
} */

.section-six,
.section-six .container,
.section-six .container .right {
  display: flex;
}

.section-six {
  justify-content: center;
  margin-top: 150px;
}

.section-six .container {
  max-width: 1280px;
}

.section-six .container .left {
  width: 35%;
  padding: 10px 40px 10px 0;
}

.section-six .container .left .title {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}

.section-six .container .left .description {
  margin: 20px 0;
}

.section-six .container .left .or {
  background-color: #E6E3D2;
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.section-six .container .left .button-container {
  background-color: #0F233F;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.section-six .container .left button {
  margin: 0 5px;
  width: 50%;
  transition: 0.2s;
}

.section-six .container .right {
  width: 65%;
  gap: 25px;
  flex-wrap: wrap;
}

.shopee:hover {
  background-color: #EE4D2D;
  color: white;
}

.tokopedia:hover {
  background-color: #42B549;
  color: white;
  box-shadow: none;
}

.socmed-box {
  width: 250px;
  height: 130px;
  border-radius: 25px;
  padding: 25px;
  box-sizing: border-box;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.socmed-box .link {
  margin: 0;
}

.icon {
  display: block;
  margin: 0;
}

.socmed-box.blue {
  background-color: #0F233F;
  color: white;
}

.socmed-box.yellow {
  background-color: #E6E3D2;
}

/* ======== section seven ========= */

.section-seven,
.section-seven .container .description-box {
  display: flex;
}

.section-seven {
  justify-content: center;
  margin: 200px 0 150px 0;
}

.section-seven .container {
  text-align: center;
}

.section-seven .container .title {
  background-color: #E6E3D2;
  color: #0F233F;
  padding: 20px;
  font-size: 30px;
  border-radius: 60px;
  font-weight: 500;
  text-align: center;
  transform: translateY(40px);
  /* margin: 0 auto; */
  display: inline;
  border: 5px solid #F0EFEB;
}

.section-seven .container .description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  padding: 0 20px;
}

.section-seven .container .description-box {
  background-color: #0F233F;
  color: white;
  max-width: 1280px;
  border-radius: 25px;
  height: 200px;
  padding: 20px;
  font-size: 16px;
  padding-top: 50px;
  box-sizing: border-box;
}

/* ====== section eight ======= */

.section-eight {
  display: flex;
  justify-content: center;
}

.section-eight .container {
  max-width: 1280px;
}

.section-eight .title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 40px;
}

.section-eight .review-container {
  display: flex;
  gap: 25px;
}

.desc {
  font-style: italic;
  font-size: 17.5px;
}

.section-eight .review {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: #E6E3D2;
  padding: 40px;
  border-radius: 25px;
  font-size: 16px;
  width: 50%;
  gap: 20px;
}

.section-eight .review img {
  align-self: flex-start;
}

.section-eight .review p {
  margin: 0;
}

.section-eight .review .author {
  font-weight: 500;
  font-size: 19px;
}

.section-eight .review .status {
  font-size: 14px;
}


/* ====== section nine ======== */

.section-nine,
.section-nine .container {
  display: flex;
}

.section-nine {
  justify-content: center;
  margin-top: 150px;
}

.section-nine .container {
  flex-direction: column;
  align-items: center;
  background-color: #0F233F;
  color: white;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 110px 130px;
  border-radius: 25px;
}

.section-nine .container .title {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}

.section-nine .container .description {
  text-align: center;
  width: 800px;
}

.section-nine .container .button-container {
  background-color: #E6E3D2;
  padding: 5px;
  border-radius: 50px;
  color: #0F233F;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-nine .container button {
  padding: 13px 80px;
}

.section-nine .container button:hover {
  box-shadow: none;
}

