@font-face {
  font-family: 'Roboto';
  src: url(/assets/fonts/roboto-v51-latin-500.woff2);
  font-weight: 500;
}

body {
  font-size: 15px;
  color: #0F233F;
  margin: 0;
  background-color: #F0EFEB;
  font-family: 'Roboto';
  font-weight: 400;
}

header,
header .container,
ul {
  display: flex;
}

header {
  justify-content: center;
  border: 1px solid black;
}

header .container {
  width: 100%;
  border: 1px solid black;
  justify-content: space-between;
  max-width: 1300px;
  align-items: center;
}

ul {
  list-style-type: none;
}

header .container .middle .nav-pages a {
  text-decoration: none;
  color: #0F233F;
}